In [ ]:
use Northwind ;

In [ ]:
select * from orderDetails

In [ ]:
select customerId , od.orderid , unitprice , 
rank() over(order by unitprice desc) as rnkall , 
rank() over (partition by customerId order by unitprice desc ) as rnkcust 
from orders 
join orderDetails od on od.orderid = orders.orderid ;

In [ ]:
SET NOCOUNT ON;
DROP TABLE IF EXISTS dbo.T1;
GO
CREATE TABLE dbo.T1
(
col1 VARCHAR(10) NOT NULL
CONSTRAINT PK_T1 PRIMARY KEY
);
INSERT INTO dbo.T1(col1)
VALUES('A'),('B'),('C'),('D'),('E'),('F');

In [ ]:
select country , ROW_NUMBER() OVER(ORDER BY country ) as rownum 
from Employees 
group by country

## Here We fill the null column with unique value with ``` ROW_NUMBER() ```

In [45]:
DROP TABLE IF EXISTS dbo.T1;
GO
CREATE TABLE dbo.T1
(
col1 INT NULL,
col2 VARCHAR(10) NOT NULL
);
INSERT INTO dbo.T1(col2)
VALUES('C'),('A'),('B'),('A'),('C'),('B');
GO 
WITH C AS (
    SELECT col1, col2 , 
    ROW_NUMBER() OVER (ORDER BY col2) AS rownum 
    from T1 ) 
    UPDATE C 
        SET col1 = rownum ;

GO 
select * from t1

col1,col2
5,C
1,A
3,B
2,A
6,C
4,B

col1,col2
5,C
1,A
3,B
2,A
6,C
4,B