In [ ]:
EXEC sp_configure @configname = 'polybase enabled' , @configvalue = 1 ;
RECONFIGURE WITH OVERRIDE ; 

EXEC sp_configure 'polybase enabled' ;

SELECT SERVERPROPERTY('IsPolyBaseInstalled') as PolyBaseInstallationStatus ;

In [ ]:
USE external_db ; 
IF NOT EXISTS (SELECT * FROM sys.symmetric_keys)
BEGIN 
        CREATE MASTER KEY ENCRYPTION BY PASSWORD = 'p3dc68f2Q' ;
        PRINT 'Master Key Created'
END 
ELSE 
BEGIN 
    SELECT * from sys.symmetric_keys ; 
END

In [ ]:
BEGIN TRY 
    CREATE DATABASE SCOPED CREDENTIAL container_db_cred
        WITH IDENTITY = 'sa' , 
        SECRET = 'p3dc68f2Q@#' ; 
        PRINT 'Credential created !' ;
END TRY 
BEGIN CATCH 
    PRINT 'Credential Already Exists ' ;
END CATCH 
SELECT * FROM sys.database_scoped_credentials ;

In [ ]:
BEGIN TRY 

CREATE EXTERNAL DATA SOURCE external_msql_1433
    WITH 
    (
        LOCATION = 'sqlserver://localhost:1433' ,
        PUSHDOWN = ON ,
        CREDENTIAL = container_msql_1433
    ) ;

    PRINT 'External Data Source Created ! '
    
END TRY 
BEGIN CATCH 
    IF NOT EXISTS (SELECT  * from sys.external_data_sources WHERE name = 'external_msql_1433' ) 
    BEGIN 
        PRINT 'Error Creating Database'
    END 
    ELSE 
    BEGIN 
        PRINT 'External Data source Already Created ! '
    END 

END CATCH

In [ ]:

IF EXISTS (SELECT * from sys.schemas WHERE name = 'ext')
BEGIN 
    DROP SCHEMA ext ; 
    PRINT 'Schema Dropped'
END 
GO 
CREATE SCHEMA ext ;
GO 
SELECT * FROM sys.schemas WHERE NAME = 'ext'

In [17]:
select * from sys.external_tables ;

In [20]:
-- CREATE Customers External Table 


IF EXISTS (SELECT * FROM sys.external_tables WHERE NAME = 'Customers') 
BEGIN 
    DROP EXTERNAL TABLE ext.Customers
END 

CREATE EXTERNAL TABLE ext.[Customers]
(
    [CustomerID] [nchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CompanyName] [nvarchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ContactName] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[ContactTitle] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[Address] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[City] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[Region] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[PostalCode] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[Country] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[Phone] [nvarchar](24) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[Fax] [nvarchar](24) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL

) WITH (
    DATA_SOURCE = external_msql_1433 ,
    LOCATION = 'NorthWind.dbo.Customers'
)

In [29]:
IF EXISTS (SELECT * FROM sys.external_tables WHERE NAME = 'Employees') 
BEGIN 
    DROP EXTERNAL TABLE ext.Employees
END 

CREATE EXTERNAL TABLE ext.[Employees]
(
	[EmployeeID] [int]  NOT NULL,
	[LastName] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FirstName] [nvarchar](10)COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Title] [nvarchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[TitleOfCourtesy] [nvarchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[BirthDate] [datetime]  NULL,
	[HireDate] [datetime]  NULL,
	[Address] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[City] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[Region] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[PostalCode] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[Country] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[HomePhone] [nvarchar](24) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[Extension] [nvarchar](4) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL,
	[ReportsTo] [int] NULL,
	[PhotoPath] [nvarchar](255) COLLATE SQL_Latin1_General_CP1_CI_AS  NULL

) WITH (
    DATA_SOURCE = external_msql_1433 ,
    LOCATION = 'NorthWind.dbo.Employees'
)

In [33]:
IF EXISTS (SELECT * FROM sys.external_tables WHERE NAME = 'Products') 
BEGIN 
    DROP EXTERNAL TABLE ext.Products
END 



CREATE EXTERNAL TABLE ext.[Products]
(
	[ProductID] [int]  NOT NULL,
	[ProductName] [nvarchar](40)  COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SupplierID] [int] NULL,
	[CategoryID] [int] NULL,
	[QuantityPerUnit] [nvarchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[UnitPrice] [money] NULL,
	[UnitsInStock] [smallint] NULL,
	[UnitsOnOrder] [smallint] NULL,
	[ReorderLevel] [smallint] NULL,
	[Discontinued] [bit] NOT NULL

) WITH (
    DATA_SOURCE = external_msql_1433 ,
    LOCATION = 'NorthWind.dbo.Products'
)

In [35]:
IF EXISTS (SELECT * FROM sys.external_tables WHERE NAME = 'Region') 
BEGIN 
    DROP EXTERNAL TABLE ext.Region
END 



CREATE EXTERNAL TABLE ext.[Region]
(
	[RegionID] [int] NOT NULL,
	[RegionDescription] [nchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
) WITH (
    DATA_SOURCE = external_msql_1433 ,
    LOCATION = 'NorthWind.dbo.Region'
)

In [38]:
IF EXISTS (SELECT * FROM sys.external_tables WHERE NAME = 'Orders') 
BEGIN 
    DROP EXTERNAL TABLE ext.Orders
END 



CREATE EXTERNAL TABLE ext.[Orders]
(
    	[OrderID] [int] NOT NULL,
	[CustomerID] [nchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EmployeeID] [int] NULL,
	[OrderDate] [datetime] NULL,
	[RequiredDate] [datetime] NULL,
	[ShippedDate] [datetime] NULL,
	[ShipVia] [int] NULL,
	[Freight] [money] NULL,
	[ShipName] [nvarchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShipAddress] [nvarchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShipCity] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShipRegion] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShipPostalCode] [nvarchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ShipCountry] [nvarchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL

) WITH (
    DATA_SOURCE = external_msql_1433 ,
    LOCATION = 'NorthWind.dbo.Orders'
)